# Copyright (C) 2023 Alif Semiconductor - All Rights Reserved.
# Use, distribution and modification of this code is permitted under the
# terms stated in the Alif Semiconductor Software License Agreement
#
# You should have received a copy of the Alif Semiconductor Software
# License Agreement with this file. If not, please write to:
# contact@alifsemi.com, or visit: https://alifsemi.com/license
config SE_SERVICE_INIT_PRIORITY
	int "SE service MHUv2 nodes Init priority"
	depends on ARM_MHUV2
	default 45
	help
	  SE service MHUv2 nodes initialization priority.

config SE_SERVICE_RF_CORE_FREQUENCY
	int "RF Core clock frequency"
	default 4
	help
	  Valid values are 0, 4, 12.
