# BLE host stack related configurations

if BT

choice BT_STACK_SELECTION
	prompt "Bluetooth Stack Selection"
	default BT_HCI

	help
	  Select the Bluetooth stack to compile.

	config BT_HCI
		bool "HCI-based"
		help
		  HCI-based stack with optional host & controller parts and an
		  HCI driver in between.

	config BT_CUSTOM
		bool "Alif's BLE Host stack"
		select ALIF_BLE_HOST
		help
		  Alif Semiconductor BLE boards have host stack on ROM and by selecting
		  this option it becomes available as a build option.
endchoice

config ALIF_BLE_HOST
	bool
	depends on HAS_ALIF_BLE_ROM_IMAGE
	select FPU
	select HAVE_CUSTOM_LINKER_SCRIPT
	help
	  This option enables Alif Semiconductor's BLE Host Stack.

if ALIF_BLE_HOST
config CUSTOM_LINKER_SCRIPT
	string
	default "${ZEPHYR_ALIF_MODULE_DIR}/linker_add_rom_symbols.ld"
endif # ALIF_BLE_HOST

endif # BT

rsource "../se_services/zephyr/Kconfig"
rsource "../common/zephyr/Kconfig"
rsource "../lc3/zephyr/Kconfig"
rsource "../ble/zephyr/Kconfig"

