
# LC3 codec related configurations

menuconfig ALIF_ROM_LC3_CODEC
	bool "Enable usage of the LC3 codec in ROM"
	depends on HAS_ALIF_BLE_ROM_IMAGE
	select FPU
	help
	  Allow the LC3 codec in ROM to be used.

if ALIF_ROM_LC3_CODEC

config ALIF_LC3_CODEC_PATCHING
	bool "Apply a patch to the Alif ROM LC3 codec"
	help
	  Apply a patch to the LC3 codec in ROM. This enables ROM functions to be overridden
	  using a patched version.

endif # ALIF_ROM_LC3_CODEC
