
# LC3 codec related configurations

menuconfig ALIF_ROM_LC3_CODEC
	bool "Enable usage of the LC3 codec in ROM"
	select ALIF_ROM_INCLUDED
	select FPU
	default n
	help
	  Allow the LC3 codec in ROM to be used.

if ALIF_ROM_LC3_CODEC

config ALIF_LC3_CODEC_PATCHING
	bool "Apply a patch to the Alif ROM LC3 codec"
	default n
	help
	  Apply a patch to the LC3 codec in ROM. This enables ROM functions to be overridden
	  using a patched version.

config ALIF_LC3_CODEC_PATCH_FILE
	string
	depends on ALIF_LC3_CODEC_PATCHING
	default "${ZEPHYR_ALIF_MODULE_DIR}/lc3/rom_codec.patch.elf"

endif
