menuconfig ALIF_PM_LINK_LAYER
	bool "Alif link layer configuration"
	default y if HAS_ALIF_BLE_802154_LINK_LAYER
	depends on HAS_ALIF_POWER_MANAGER
	depends on HAS_ALIF_SE_SERVICES

if ALIF_PM_LINK_LAYER

config ALIF_PM_LE_CODED_PHY_500
	int "LE Coded PHY 500 Kbps selection"
	default 0

config ALIF_PM_DFT_SLAVE_MD
	int "Default MD bit used by slave when sending a data packet on a BLE connection"
	default 0

config ALIF_PM_CH_CLASS_REP_INTV
	int "Channel classification reporting interval (in ms) (0 if not used)"
	default 0

# config ALIF_PM_BD_ADDRESS
# 	string "Local Bd Address"
# 	default {0x01, 0x23, 0x45, 0x67, 0x89, 0xAB}

config ALIF_PM_ACTIVITY_MOVE_CONFIG
	int "Activity Move Configuration (enables/disables activity move for BLE connections and BT (e)SCO links)"
	default 1

config ALIF_PM_SCAN_EXT_ADV
	int "Enable/disable scanning for extended advertising PDUs"
	default 1

config ALIF_PM_RSSI_HIGH_THR
	int "RSSI high threshold"
	default -40

config ALIF_PM_RSSI_LOW_THR
	int "RSSI low threshold"
	default -60

config ALIF_PM_SLEEP_ENABLE
	int "Enable sleep mode"
	default 1

config ALIF_PM_EXT_WAKEUP_ENABLE
	int "Enable External Wakeup"
	default 1

config ALIF_PM_ENABLE_CH_ASSESSMENT
	int "Enable/disable channel assessment for BLE"
	default 1

config ALIF_PM_RSSI_INTERF_THR
	int "RSSI interference threshold"
	default -70

config ALIF_EXT_WAKEUP_TIME
	int "External wakeup time needed (us)"
	default 25000

config ALIF_OSC_WAKEUP_TIME
	int "Oscilator enable wakeup time needed (us)"
	default 25000

config ALIF_RM_WAKEUP_TIME
	int "Radio wakeup time needed (us)"
	default 625

config ALIF_EXT_WARMBOOT_WAKEUP_TIME
	int "Warmboot wakeup time. Time limit between light / deep sleep (us)"
	default 32000

config ALIF_MAX_SLEEP_CLOCK_DRIFT
	int "Max drift of sleep clock in PPM"
	default 20
	range 0 65535

config ALIF_MAX_ACTIVE_CLOCK_DRIFT
	int "Max drift of active clock in PPM"
	default 20
	range 0 255

endif # ALIF_PM_LINK_LAYER